buoi3/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>

        <!-- order có id duy nhất trong toàn bộ tài liệu -->
        <xs:element name="order" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <!-- sản phẩm trong order -->
              <xs:element name="product" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="quantity" type="xs:positiveInteger"/>
                  </xs:sequence>
                  <!-- id sản phẩm (unique trong order) -->
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>

          <!-- ràng buộc: id của product phải duy nhất trong phạm vi order -->
          <xs:unique name="UniqueProductID">
            <xs:selector xpath="product"/>
            <xs:field xpath="@id"/>
          </xs:unique>

        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
